
/* NOT WORKING */
/* shrink the width of the server sidebar */
/*     nav:not(#_)[aria-label="Servers sidebar"] {
    width: 64px;
  } */
/* shrink the width of icon element */
/*     nav:not(#_)[aria-label="Servers sidebar"] div[class*="listItem_"],
  nav:not(#_)[aria-label="Servers sidebar"] div[class*="folderGroup_"],
  nav:not(#_)[aria-label="Servers sidebar"] div[class*="folderGroup_"] > div[class*="listItem_"] {
    width: 64px;
  } */
/* shrink gap spacing between server icons */
/*     nav:not(#_)[aria-label="Servers sidebar"] div[class*="itemsContainer_"] > div {
    gap: var(--user-gap) !important;
  } */
/* shrink gap spacing between server icons */
/*     nav:not(#_)[aria-label="Servers sidebar"] div[aria-label="Servers"] {
    gap: var(--user-gap) !important;
  }
 */
/* make the folder background easier to see */
/* fix background layout for folders */
/*   nav:not(#_)[aria-label="Servers sidebar"] div[aria-label="Servers"] > div[class*="wrapper_"] span[class*="expandedFolderBackground_"] {
    background-color: rgba(255, 255, 255, 0.1254901961);
    mix-blend-mode: difference;
    left: 6px;
    width: 52px;
  } */
/* shrink gap spacing between server icons in folders */
/* fix height issue for folders */
/*   nav:not(#_)[aria-label="Servers sidebar"] div[aria-label="Servers"] > div[class*="wrapper_"] > ul {
    gap: var(--user-gap) !important;
    height: unset !important;
  } */
/* hide the server icon mask */
/*   nav:not(#_)[aria-label="Servers sidebar"] div[class*="listItem_"] mask {
    display: none;
  } */
/* fix all the sizes of the icon layout */
/* nav:not(#_)[aria-label='Servers sidebar'] div[class*='listItem_'] div[class*='wrapper_']:has(svg), */
/* nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) *:has(svg), */
/*     nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg foreignObject,
  nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg foreignObject > div,
  nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg foreignObject > div > div,
  nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg foreignObject > div > img {
    width: 48px;
    height: 48px;
  } */
/* remove the offset in svg */
/*   nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg {
    top: unset;
    left: unset;
  } */
/* return the server icons back to circles when they are not selected */
/*     nav:not(#_)[aria-label="Servers sidebar"] :is(div[class*="listItem_"], div[class*="folderGroup_"]) svg foreignObject > div[class*="wrapper_"] {
    clip-path: circle(50%);
  } */