:root {
  --user-blurple: #5865f2;
  --user-gap-8: 8px;
  --user-size-48: 48px;
}

nav:not(#_)[aria-label="Servers sidebar"] {

  /* FOLDER GROUP */
  div[class*="folderGroup_"] {

    /* rounded rectangles for selected icons */
    svg foreignObject>div[class*="selected_"] {
      clip-path: inset(0 round 16px);
    }

    img[class*="icon_"] {
      width: var(--user-size-48);
      height: var(--user-size-48);
    }

    /* ## Closed Folders */
    /* give original discord dark purple color background */
    div[class*="folderPreviewWrapper_"]:has(> div[class*="closedFolderIconWrapper_"]) {
      background-color: var(--user-blurple) !important;
    }

    /* make rounded rectangle */
    div:has(> div[class*="folderPreviewWrapper_"] > div[class*="closedFolderIconWrapper_"]) {
      clip-path: inset(0 round 16px);
    }

    /* make mini icons circular */
    div[class*="folderPreviewWrapper_"]>div[class*="closedFolderIconWrapper_"]>div {
      border-radius: 50% !important;
    }
  }

  /* LIST ITEM */
  div[class*="listItem_"] {

    /* rounded rectangles for selected icons */
    svg foreignObject>div[class*="selected_"] {
      clip-path: inset(0 round 16px);
    }

    img[class*="icon_"] {
      width: var(--user-size-48);
      height: var(--user-size-48);
    }
  }
}