/* ==UserStyle==
@name           com.discord; title area - hide buttons
@namespace      github.com/openstyles/stylus
@version        1.0.1
@author         Me
==/UserStyle== */
@-moz-document domain("discord.com") {
  [class^='button_'][aria-label='Checkpoint'] {
    display: none;
  }
}
