/* ==UserStyle==
@name           twitch: channel-textarea
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("discord.com") {
  :root {
    --user-blurple: #5865f2;
    --user-gap-8: 8px;
    --user-size-48: 48px;
  }

  div:not(#_)[class*="channelTextArea_"] {

    /* Decrease Bottom Margin */
    margin-bottom: var(--space-xs);

    /* Larger Buttons */
    div[class*="contents_"],
    div[class*="lottieIcon_"],
    div[class*="spriteContainer_"],
    svg {
      width: 24px !important;
      height: 24px !important;
    }

    /* Larger Buttons - Fix Offset */
    div[class*="spriteContainer_"] {
      >div[class*="sprite_"] {
        scale: 1.3333333333;
        transform-origin: top left;
      }
    }
  }
}