/* ==UserStyle==
@name           twitch: servers sidebar - fix top level widths, heights, and gaps.
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Servers sidebar - Fix top level widths, heights, and gaps.
@author         Me
==/UserStyle== */
@-moz-document domain("discord.com") {
  :root {
    --user-gap-4: 4px;
    --user-size-48: 48px;
  }

  nav:not(#_)[aria-label="Servers sidebar"] {
    >ul {
      >div {
        >div {
          gap: var(--user-gap-4) !important;

          /* @me */
          >div[class*="tutorialContainer_"],
          /* Discover & Download Apps */
          & {
            >div[class*="listItem_"]:not(:has(div[class*="guildSeparator_"])) {
              height: var(--user-size-48) !important;

              /* >div[class*="pill_"] {} */
              >div[class*="listItemWrapper_"] {
                width: var(--user-size-48) !important;
                height: var(--user-size-48) !important;

                /* wrapper_ */
                >div {
                  width: var(--user-size-48) !important;
                  height: var(--user-size-48) !important;

                  >svg {
                    width: var(--user-size-48) !important;
                    height: var(--user-size-48) !important;
                    top: unset;
                    left: unset;

                    >foreignObject {
                      width: var(--user-size-48) !important;
                      height: var(--user-size-48) !important;

                      /* wrapper_ */
                      >div {
                        width: var(--user-size-48) !important;
                        height: var(--user-size-48) !important;

                        /* childWrapper_ */
                        >div {
                          width: var(--user-size-48) !important;
                          height: var(--user-size-48) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          /* Direct Messages */
          >div[aria-label="Direct Messages"] {
            gap: var(--user-gap-4) !important;
            margin-top: unset !important;

            >div {
              height: var(--user-size-48) !important;

              >div[class*="listItem_"] {
                height: var(--user-size-48) !important;

                >div[class*="pill_"] {

                  /* listItemWrapper_ */
                  +div {
                    width: var(--user-size-48) !important;
                    height: var(--user-size-48) !important;

                    /* wrapper_ */
                    >div {
                      width: var(--user-size-48) !important;
                      height: var(--user-size-48) !important;

                      >svg {
                        width: var(--user-size-48) !important;
                        height: var(--user-size-48) !important;
                        top: unset;
                        left: unset;

                        >foreignObject {
                          width: var(--user-size-48) !important;
                          height: var(--user-size-48) !important;

                          /* wrapper_ */
                          >div {
                            width: var(--user-size-48) !important;
                            height: var(--user-size-48) !important;

                            /* icon_ */
                            >img {
                              width: var(--user-size-48) !important;
                              height: var(--user-size-48) !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          >div[aria-label="Direct Messages"]:empty {
            display: none;
          }

          /* Servers  */
          >div[aria-label="Servers"] {
            gap: var(--user-gap-4) !important;

            >div[class*="listItem_"] {
              height: var(--user-size-48) !important;

              >div[class*="pill_"] {
                +div {
                  width: var(--user-size-48) !important;
                  height: var(--user-size-48) !important;

                  /* blobContainer_  */
                  >div {
                    width: var(--user-size-48) !important;
                    height: var(--user-size-48) !important;

                    /* wrapper_ */
                    >div {
                      width: var(--user-size-48) !important;
                      height: var(--user-size-48) !important;

                      >svg {
                        width: var(--user-size-48) !important;
                        height: var(--user-size-48) !important;
                        top: unset;
                        left: unset;

                        >foreignObject {
                          width: var(--user-size-48) !important;
                          height: var(--user-size-48) !important;

                          /* wrapper_ */
                          >div {
                            width: var(--user-size-48) !important;
                            height: var(--user-size-48) !important;

                            /* childWrapper_ */
                            >div,
                            /* icon_ */
                            >img {
                              width: var(--user-size-48) !important;
                              height: var(--user-size-48) !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            >div[class*="folderGroup_"] {
              >div[class*="listItem_"] {
                height: var(--user-size-48) !important;
              }
            }

            >div[class*="folderGroup_"][class*="isExpanded_"] {

              /* folderGuildsList_ */
              >ul {
                gap: var(--user-gap-4) !important;

                >div[class*="listItem_"] {
                  >div[class*="pill_"] {
                    +div {
                      width: var(--user-size-48) !important;
                      height: var(--user-size-48) !important;

                      /* blobContainer_  */
                      >div {
                        width: var(--user-size-48) !important;
                        height: var(--user-size-48) !important;

                        /* wrapper_ */
                        >div {
                          width: var(--user-size-48) !important;
                          height: var(--user-size-48) !important;

                          >svg {
                            width: var(--user-size-48) !important;
                            height: var(--user-size-48) !important;
                            top: unset;
                            left: unset;

                            /* >mask {} */
                            >foreignObject {
                              width: var(--user-size-48) !important;
                              height: var(--user-size-48) !important;

                              /* wrapper_ */
                              >div {
                                width: var(--user-size-48) !important;
                                height: var(--user-size-48) !important;

                                /* icon_ */
                                >img {
                                  width: var(--user-size-48) !important;
                                  height: var(--user-size-48) !important;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}